* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    width: 100%;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects1{
    display: flex;
}

.projects1 div{
    height: 500px;
    width: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.child1 {
    background-image: url("projectImages/OrganicsLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.child2 {
    background-image: url("projectImages/HolidayTripLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    font-weight: bold;
    background-color: rgb(120, 213, 26);
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(221, 107, 41);
    transition: 0.5s;
}

@media screen and (max-width:800px) {
    body{
        height: 100%;
    }
    .projects1{
        flex-direction: column;
    }
    .projects1 div{
        height: 300px;
        width: 300px;
    }
}